<tr class='trAction'>
    <td class='tdType'>
		<select class='selActionType'>
			<option value='ACTION' [SELECTEDACTION]>&#9889; Action</option>
			<option value='PAUSE' [SELECTEDPAUSE]>&#128343; Pause</option>
		</select>
	</td>
	<td class='tdName'>
		<input class='txtActionName' type='text' value='[NAME]'></input>
	</td>
	<td class='tdCount'>
		<input class='txtActionCount' type='number' value=[VALUE]></input>
		<span class='spanActionUnit'>[UNIT]</span>
	</td>
	<td class='tdDelete'>
		<span class='spanDeleteAction'>[DELETEICONCONTENT]</span>
	</td>
</tr>