<details class='detWorkout' open>
     <summary>Workout<span class='spanDeleteWorkout'>&#10060;</span></summary>
     <table class='tblWorkoutContent'>
        <tr>
            <td>Workout Name</td>
            <td><input class='txtWorkoutName' type='text' value='name'></input></td>
        </tr>
         <tr>
            <td>Repetitions</td>
            <td><input class='txtWorkoutReps' type='number' value=5></input></td>
        </tr>
        <tr>
            <td></td>
            <td>
                Actions :
                <table class='tblActionsList'>
                </table>
                <button class='btnAddAction'>Add Action</button>    
            </td>     
        </tr>
    </table>
</details>