<div id='divToolBarCreate'>
    <span class='spanToolbarItem btn-save' title='Save' aria-label='Save'>
    </span>
    <span class='spanToolbarItem btn-load' title='Load' aria-label='Load'>
    </span>
    <span class='spanToolbarItem btn-settings' title='Settings' aria-label='Settings'>
    </span>
</div>
<div id='divWorkoutList'></div>
<div class='divButtons'>
    <button id='btnAddWorkout'>Add Workout</button>
    <button id='btnStartSession'>Start Session</button>
</div>
<dialog id='dlgCreationDialog' class='dlgDialog'>
    <p class='pDialog'>
        <span id='spanCreationDialogMessage'></span>
    </p>
    <button class='btnDialog' id='btnCreationDialogOK'>OK</button>
</dialog>