<div id='divToolBarCreate'>
    <span class='spanToolbarItem btn-save' title='Sauvegarder' aria-label='Sauvegarder'>
    </span>
    <span class='spanToolbarItem btn-load' title='Charger' aria-label='Charger'>
    </span>
</div>
<div id='divWorkoutList'></div>
<div class='divButtons'>
    <button id='btnAddWorkout'>Add Workout</button>
    <button id='btnStartSession'>Start Session</button>
</div>
<dialog id='dlgCreationDialog'>
    <p class='pDialog'>
        <span id='spanCreationDialogMessage'></span>
    </p>
    <button class='btnDialog' id='btnCreationDialogOK'>OK</button>
</dialog>