<p>
    <span class='spanReportSessionName'>[SESSION_NAME]</span>
    <br/>
    Date : <span class='spanReportSessionDate'>[SESSION_DATE]</span>
    <br/>
    Total duration : <span class='spanReportSessionDuration'>[SESSION_DURATION]</span>
</p>
<p>
    Nb of workouts : <span class='spanReportSessionWorkouts'>[SESSION_WORKOUTS]</span>
    <br/>
    Nb of actions : <span class='spanReportSessionActions'>[SESSION_ACTIONS]</span>
    <br/>
    Total pause : <span class='spanReportSessionTotalPause'>[SESSION_PAUSE]</span> seconds
</p>
<div class='divButtons'>
    <button id='btncloseReport'>Close</button>
    <button id='btnShowHisstory'>History</button>
</div>
