<div id='runSessionContent'>
    <p class='pCurrentWorkout'>
        <span id='spanWorkoutName'>Workout Name</span> - 
        <span id='spanCurrentWorkoutRep'>1</span>/<span id='spanWorkoutMaxReps'>10</span>
    </p>
    <p class='pCurrentAction'>
        <span id='spanActionName'>Action Name</span>
        <span id='spanActionReps'>10</span> <span id='spanActionUnit'>Reps</span>
    </p>
    <p>
        <button id='btnRunSessionStepOK'>OK</button>
    </p>
    <p class='pNextAction'>
        <span id='spanNextIcon'>&#9889;</span> <span id='spanNextActionName'>Action Name</span> (<span id='spanNextActionReps'>10</span> <span id='spanNextActionUnit'>Reps</span>)
    </p>
</div>
